<article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
    {% if post.header.image %}
		<figure class="post-image" itemprop="image">
			<a href="{{ post.url }}" class="js-ajax-link"><img src="{{ post.media[post.header.image].cropResize(350, 350).url }}" width="100%" height="100%" alt=""></a>
        </figure>
		{% for price in post.taxonomy.price %}
			<div class="price-overlay"><p>{{ price }}</p></div>
		{% endfor %}
        
    {% endif %}
    <header class="post-header">
        <h2 class="post-title" itemprop="name"><a href="{{post.url}}" itemprop="url">{{post.title}}</a></h2>
    </header>
    <section class="post-excerpt" itemprop="description">
		<p>Creator:{% if post.taxonomy.creator|length > 0 %}
            {% for creator in post.taxonomy.creator %}<span class="post-creator"><a href="{{ base_url }}/creator{{ config.system.param_sep }}{{ creator }}">{{ creator }}</a></span>{%if not loop.last %}  {% endif %}{% endfor %}
        {% endif %}
        <br>Build Options:{% if post.taxonomy.build|length > 0 %}
            {% for build in post.taxonomy.build %}<span class="post-build">{{ build }}</span>{%if not loop.last %}  {% endif %}{% endfor %}
        {% endif %}
        <br>Switch Compatibility:{% if post.taxonomy.switch|length > 0 %}
            {% for switch in post.taxonomy.switch %}<span class="post-switch">{{ switch }}</span>{%if not loop.last %}  {% endif %}{% endfor %}
        {% endif %}
        <br>Lighting Options:{% if post.taxonomy.lighting|length > 0 %}
            {% for lighting in post.taxonomy.lighting %}<span class="post-lighting">{{ lighting }}</span>{%if not loop.last %}  {% endif %}{% endfor %}
        {% endif %}
        <br>Programmability:{% if post.taxonomy.programmability|length > 0 %}
            {% for programmability in post.taxonomy.programmability %}<span class="post-programmability">{{ programmability }}</span>{%if not loop.last %}  {% endif %}{% endfor %}
        {% endif %}
        <br>Availability:{% if post.taxonomy.availability|length > 0 %}
            {% for availability in post.taxonomy.availability %}<span class="post-availability">{{ availability }}</span>{%if not loop.last %}  {% endif %}{% endfor %}
        {% endif %}
		</p>
	
        <!--time class="post-date" datetime="{{ post.date | date(site.date_short) }}">{{ post.date | date(site.date_short) }}</time-->
		<p><a class="read-more" href="{{post.url}}">Check out the {{post.title}}</a></p>
    </section>
    <footer class="post-meta">
    </footer>
</article>
